@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Noto Sans Georgian', sans-serif;
    display: flex;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);

  }

.offcanvas.offcanvas-start.sidebar{
    width: 350px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(9, 36, 75, 0.20);
    background: #F5F8FE;
    position: sticky;
    top: 0;
}

.sidebar .top{
    padding: 24px 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar .top .menu{
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar .top .header .notification{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgba(9, 36, 75, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar .top .header .notification .badge_dot{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #E51F1F;
    box-shadow: 0px 0px 2px 2px rgba(229, 31, 31, 0.15);
}

.sidebar .search-group{
    padding: 24px 0;
}

.sidebar .search-group .input-group-text{
    border-radius: none;
    border: none !important;
    background: none;
    height: 42px;
    width: 40px;
    display: flex;
    align-items: center;
}

.sidebar .search-group .form-control{
    border-radius: none;
    border: none !important;
    background:  none;
    box-shadow: none !important;
    padding: 0 !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sidebar .input-group{
    border-radius: 6px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.03);
}


/* MENU */

a:link{
    text-decoration: none!important;
    color: unset !important;
  }
.sidebar .menu .link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    transition: .3s;
    height: 43px;
    width: 100%;
    border: none !important;
}

.sidebar .menu .link .content {
    display: flex;
    align-items: center;
}


.sidebar .menu .link .content span{
    position: relative;
    margin-left: 16px;
    color: #526581;
    font-size: 14px;
    font-weight: 400;
}

.sidebar .menu .link:hover{
    border-radius: 6px;
    background: #E3EAFE;
}

.sidebar .menu .dropdown .link{
    border-radius: unset;
    position: relative;
    z-index: 1;
}


.sidebar .menu .dropdown {
    position: relative;
    border-radius: 6px;
    /* background-color: #E3EAFE; */
    overflow: hidden;
}

.sidebar .menu .sublinks{
    padding-bottom: 8px;
    position: relative;
    z-index: 1;
}

.sidebar .menu .sublinks .sub-link{
    display: flex;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    transition: .3s;
}


.sidebar .menu .sublinks .sub-link:hover{
    background: rgba(66, 81, 103, 0.05);
}

.sidebar .menu .sublinks .sub-link svg *{
    transition: .3s;
}

.sidebar .menu .sublinks .sub-link:hover svg *{
    fill: #416FF4;
    fill-opacity: 1;
}

.sidebar .menu .sublinks .sub-link span{
    color: #425167;
    font-size: 13px;
    font-weight: 400;
}

.sidebar .fadecolor{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E3EAFE;
    bottom: 0;
}

/* USER */

.sidebar .user{
    display: flex;
    padding: 32px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: rgba(9, 36, 75, 0.03);
}
.sidebar .user .left{
    flex-grow: 1;
}


.sidebar .user .tbs{
    color: var(--grey-01, #09244B);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    display: block;
}

.sidebar .user .username{
    color: var(--grey-03, #8491A5);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
    display: block;

}

.sidebar .user .logout{
    padding: 0;
    border: none !important;
}

.sidebar .user .logout svg *{
    transition: .3s;
}

.sidebar .user .logout:hover *{
    fill: #E51F1F;
}



/* Content Invoice*/

.container{
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.container .content{
    max-width: 1000px;
    width: 100%;
    margin: auto;

}


.content .first_options{
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form{
    flex-grow: 1;
    border-radius: 8px;
    background: var(--Content, #F6F7F9);
    overflow: hidden;
}

.form .header{
    padding: 18px;
    border-bottom: 1px solid var(--strokes-stroke-2, #DCDCDC);
    display: flex;
    align-items: center;
    gap: 12px;
}


.form .header div{
    width: 3px;
    height: 27px;
    border-radius: 3px;
    background: var(--Link, #2954EC);
}

.form .header h1{
    color: #09244B;
    font-family: Noto Sans Georgian;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


form{
    padding: 18px;
    gap: 18px;
}

.form-floating select,
.form-floating input{
    border-radius: 4px;
    background-color: #FFF;
    border: none;
    box-shadow: none !important;
    color: var(--Dark-1, #171717);
    font-size: 15px;
    font-weight: 500;
}

.form-floating label{
    color: var(--Secondary-1, #7E8594);
    font-size: 15px;
    font-weight: 500;
}

.form-floating>.form-control:focus~label{
    color: var(--Secondary-1, #7E8594);
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after{
    background-color: unset !important;
}

form .post-city{
    display: flex;
    gap: 16px;
}


form .post-city .zip{
    width: 130px;
}


form .post-city .city{
    flex-grow: 1;
}

.btn-more{
    width: 100%;
    display: flex;
    padding: 11px 0px;
    justify-content: center;
    align-items: center;
    background: rgba(65, 111, 244, 0.15);
    color: #416FF4;
    font-size: 15px;
    font-weight: 500;
    border: none !important;
    border-radius: 0;
}

.invoice_entries .details{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.invoice_entries .details .options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.table-total {
    border-radius: 6px;
    overflow: hidden;
}

.table-total tr{
    height: 45px !important;
}

.table-total .last th,
.table-total .last td{
    border: none;
}

.table-total th{
    color: #101010;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
}

.table-total td{
    color: rgba(16, 16, 16, 0.60);
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
}


.container .page-header{
    padding: 42px 0;
    display: flex;
    justify-content: space-between;
}

.container .page-header .left{
    display: flex;
    align-items: center;
}

.container .page-header .btn-back{
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--Content, #F6F7F9);
    margin-right: 16px;
}

.container .page-header .btn-back:hover svg *{
 stroke: #2954EC;
}


.container .page-header h2{
    margin-bottom: 4px;
    color: #09244B;
    font-size: 22px;
    font-weight: 700;
}

.container .breadcrumbs{
    display: flex;
    gap: 8px;
}

.container .breadcrumbs span{
    color: rgba(23, 23, 23, 0.25);
    font-size: 14px;
}

.container .breadcrumbs a{
    color: rgba(23, 23, 23, 0.25);
    font-size: 14px;
    font-weight: 500;
    opacity: 70%;
    color: rgba(23, 23, 23, 0.70);
    font-size: 13px;
    transition: .3s;
    text-overflow: ellipsis;
}


.container .breadcrumbs a:hover{
    opacity: 100%;
    color: #2954EC;
    text-decoration: underline !important;
}


.container .page-header .btn-more{
    border-radius: 6px;
    border: 1px solid #F2F4F6 !important;
    display: flex;
    width: 45px;
    height: 45px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
}


.container .page-header .btn-more:hover{
    background-color: #F2F4F6;
}

.container .page-header .btn-more:hover svg *{
    stroke: #09244B;
}

@media screen and (min-width: 1360px) {
    .offcanvas {
        transform: none !important;
        visibility: visible;
    }
}


/* */

.offcanvas.hiding, .offcanvas.show, .offcanvas.showing{
    width: 100vw !important;
}

.header-sm{
    position: sticky;
    top: 0;
    display: flex;
    width: 390px;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #F5F8FE;
    z-index: 9
}

.header-sm .btn{
    display: flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0;
    border: none !important;

}

.header-sm h3{
    margin-top: 3px;
    margin-bottom: 0;
    color: #09244B;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-sm .btn-more{
    background-color: transparent;
    border: 1px solid #F2F4F6 !important;
}

.breadcrumbs-sm{
    margin-bottom: 12px;
}

.breadcrumbs-sm a,
.breadcrumbs-sm span{
    font-size: 12px;
}

.breadcrumbs-sm .flex-grow-1{
    overflow: hidden;
    white-space: nowrap;
}

.submit{
    padding: 48px 0;
    padding-bottom: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit .btn{
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #416FF4;
    color: var(--light-light-1, #FFF);
    font-size: 14px;
    max-width: 400px;
    width: 100%;
    font-weight: 500;
}




#notifications-dropdown{
    width: 380px;
    height: 500px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
    padding: 0;
}


#notifications-dropdown .header{
    padding: 20px 12px;
    border-bottom: 1px solid var(--strokes-stroke-2, #DCDCDC);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#notifications-dropdown .header .left{
    display: flex;
    align-items: center;
}


#notifications-dropdown .header .indicator{
    width: 3px;
    height: 24px;
    border-radius: 3px;
    background: var(--Link, #2954EC);
    margin-right: 12px;
}

#notifications-dropdown .header  span{
    color: #09244B;
    font-size: 20px;
    font-weight: 600;
}

#notifications-dropdown .header .btn-filter{
    display: flex;
    height: 24px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(41, 84, 236, 0.05);
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: none !important;

}




#notifications-dropdown .header .btn-check:checked+.btn{
    border-radius: 4px;
    background: rgba(41, 84, 236, 0.15);
    color: var(--Link, #2954EC);
}


#notifications-dropdown .list{
    flex-grow: 1;
    overflow-y: auto;
}


#notifications-dropdown .list .item{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    transition: .3s;

}

#notifications-dropdown .list .item:hover{
    background-color: #F4F6FE;
}

#notifications-dropdown .list .item .left{
    display: flex;
    align-items: center;
    gap: 16px;
}

#notifications-dropdown .list .item .left .title{
    color: #101010;
    font-size: 14px;
    font-weight: 500;
}

#notifications-dropdown .list .item .left .date{
    color: #545F71;
    font-size: 13px;
}


#notifications-dropdown .list .item .icon{
    display: flex;
    width: 42px;
    height: 42px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: rgba(217, 14, 14, 0.15);
}

#notifications-dropdown .list .item .icon svg *{
    stroke: #D90E0E;
}

#notifications-dropdown .btn-more{
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(65, 111, 244, 0.0);
    color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
}


.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    border: none;
}


#notifications-dropdown .btn-more:hover{
    color: rgba(65, 111, 244, 1);
}


.btn-burger{
    position: relative;
}

.btn-burger .badge-dot{
    position: absolute;
    top: 4px;
    right: 8px;
    width: 8px;
    height: 6px;
    border-radius: 6px;
    background: #E51F1F;
    box-shadow: 0px 0px 2px 2px rgba(229, 31, 31, 0.15);
}

@media screen and (max-width: 420px) {

    .sidebar .top{
        padding: 12px;
    }

    .sidebar .search-group{
        padding: 12px 0;
    }


    .close-small{
        color: rgba(23, 23, 23, 0.6);
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 600;
    }

    .sidebar .header{
        height: 42px;
    }

    .sidebar .menu .link{
        padding: 8px 0;
        padding-right: 8px;
    }
    .d-small-none {
        display: none !important;
    }
    .content{
        padding: 12px
    }
    .content .first_options{
        display: unset;
    }
    .form .header{
        padding: 12px;
        gap: 12px;
    }
    form{
        padding: 12px;
        gap: 8px;
    }
    form .post-city{
        gap: 8px;
    }
    .form{
        margin-bottom: 16px;
    }

    .offcanvas{
        width: 0 !important;
        position: fixed !important;
    }

    .offcanvas.show{
        width: 100vw !important;
    }

    .invoice_entries .details{
        display: unset;
    }

    .invoice_entries .details .options{
        gap: 8px;
    }
    hr{
        border-color: rgba(0, 0, 0, 0.10);
    }

    .submit{
        padding-bottom: unset;
        padding: 32px 0;
    }

    #notifications-dropdown{
        position: fixed !important;
        height: calc(100dvh - 66px);
        width: 100vw;
        top: 66px !important;
        transform: unset !important;
        box-shadow: none;
    }

    #notifications-dropdown .header{
        padding: 0 16px;
        padding-bottom: 12px;
        background: #f4f7fd;
    }
}
